[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/shadowhand/sprig.git
[submodule "modules/acl"]
	path = modules/acl
	url = git://github.com/Wouterrr/ACL.git
[submodule "modules/a1"]
	path = modules/a1
	url = git://github.com/Wouterrr/A1.git
[submodule "modules/a2"]
	path = modules/a2
	url = git://github.com/Wouterrr/A2.git
[submodule "modules/grid"]
	path = modules/grid
	url = git://github.com/vimofthevine/grid.git
[submodule "modules/versioned"]
	path = modules/versioned
	url = git://github.com/vimofthevine/versioned.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:vimofthevine/blog.git
[submodule "modules/console"]
	path = modules/console
	url = git://github.com/vimofthevine/console.git
[submodule "modules/cms"]
	path = modules/cms
	url = git://github.com/vimofthevine/cms.git
[submodule "modules/admin"]
	path = modules/admin
	url = git://github.com/vimofthevine/admin.git
[submodule "modules/sentry"]
	path = modules/sentry
	url = git://github.com/vimofthevine/sentry.git
